{% extends '::base.html.twig' %}

{% block body %}

	<div id="blog_sidebar" class="right">
		<p>Projekte</p>
		<hr/>
		<ul>
			<li><a href="">Lorem Ipsum</a></li>
			<li><a href="">Lorem Ipsum dolor</a></li>
		</ul>
		<p>Archiv</p>
		<hr/>
		<ul>
			<li><a href="">Lorem Ipsum</a></li>
			<li><a href="">Lorem Ipsum dolor</a></li>
		</ul>
		<p>Blogroll</p>
		<hr/>
		<ul>
			<li><a href="">Lorem Ipsum</a></li>
			<li><a href="">Lorem Ipsum dolor</a></li>
		</ul>
	</div>

	{% block content %}{% endblock %}

{% endblock %}