{% extends '::base.html.twig' %}

{% block body %}

	<div>
	
		{% block content %}{% endblock %}
	
		<div style="float: right; border: 1px solid;">
			<p>Menü</p>
		</div>
		
	</div>

{%  endblock %}