{% extends '::base.html.twig' %}

{% block body %}

	<div id="blog_sidebar" class="right">
		{% render 'WebdevBlogBundle:Sidebar:tagcloud' %}
		<p>Projekte</p>
		<hr/>
		<ul>
			<li><a href="">Lorem Ipsum</a></li>
			<li><a href="">Lorem Ipsum dolor</a></li>
		</ul>
		<p>Archiv</p>
		<hr/>
		<ul>
			<li><a href="">Lorem Ipsum</a></li>
			<li><a href="">Lorem Ipsum dolor</a></li>
		</ul>
		<p>Blogroll</p>
		<hr/>
		<ul>
			<li><a href="">Lorem Ipsum</a></li>
			<li><a href="">Lorem Ipsum dolor</a></li>
		</ul>
	</div>

	{% block content %}{% endblock %}

{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	
	{% stylesheets
		'@WebdevBlogBundle/Resources/public/css/layout.css'
		output='resources/compiled/layout.css'
		filter='yui_css'
	%}
			
		<link href="{{ asset_url }}" rel="stylesheet" type="text/css">
			
	{% endstylesheets %}

{% endblock %}