/*
 * blog sidebar
 */
div#blog_sidebar
{
	border: 1px solid;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 10px;
    width: 180px;
}

div#blog_sidebar p
{
	font-weight: bold;
	margin: 0;
}

div#blog_sidebar hr
{
	margin: 0;
}

div#blog_sidebar ul
{
	list-style-type: none;
    margin-top: 10px;
    padding-left: 15px;
}

/*
 * tags
 */
ul#tags
{
	font-size: 12px;
	padding-left: 5px !important;
	padding-right: 5px;
}

ul#tags li
{
	display: inline;
	margin: 3px;
	white-space: nowrap;
}